html { 
    background: url('../src/images/sky.jpg') no-repeat center center fixed; 
    height: 100%;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }